
<div class="container results">
  <h2>Your word</h2>
  <%= @attempt %>

  <h2>Score</h2>
  <p> <%= @results[:score] %> </p>

  <h2>Time taken</h2>
  <p> <%= @results[:time] %> </p>

  <h3> <%= @results[:message] %> </h3>

</div>
