// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-game {
  padding: 50px;
}

.results {
  margin-top: 40px;
  margin-right: 40px;
}

#grid {
  padding: 30px;
}
